<div class="content" *ngIf="project">
    <div class="project-image">
        
        <img src="{{url+'get-image/'+project.image}}" alt="Imagen no encontrada" *ngIf="project.image">
        <p *ngIf="!project.image">Sin imagen</p>
        
    </div>     
    <div class="project-card">
        <div class="project-data">
            <h1>{{project.name}}</h1>
            <h2>{{project.category}}</h2>
            <p>Lenguajes: {{project.lang}}</p>
            <p class="last-p">{{project.year}}</p>        
            <p class="description">{{project.description}}</p> 
        </div>
        <div class="project-buttons">
            <a [routerLink]="['/edit',project._id]" class="edit-btn">Editar</a>
            <a (click)="deleteProject(project._id)" class="del-btn">Eliminar</a>
            <a [routerLink]="['/projects']" class="back-btn">Volver</a>
        </div>
    </div>
</div>