<div class="content">
    <div class="project-image">
        <img src="{{url+'get-image/'+project.image}}" alt="Imagen no encontrada" *ngIf="project.image">
        <p *ngIf="!project.image">Sin imagen</p>
    </div>     
    <div class="project-card">
        <div class="project-data">
            <h1>{{project.name}}</h1>
            <h2>{{project.category}}</h2>
            <p>Lenguajes: {{project.lang}}</p>
            <p class="last-p">{{project.year}}</p>        
            <p class="description">{{project.description}}</p> 
        </div>
        <div class="project-buttons">
            <a class="edit-btn" href="">Editar</a>
            <a class="del-btn" href="">Eliminar</a>
        </div>
    </div>
</div>