h2{ 
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

form { 
    margin: 0 auto;
}

span{
    color: red;
    font-size: 15px;
}

.success{
    color: #1a7411;
}

.success a {
    color: #2cc51e;
}

.failed{
    color: red;
}