<nav>
    <ul>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/about']">Sobre mi</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/contact']">Contacto</a></li>
        <li [routerLinkActive]="['active']" id="logo"><a href="">FS</a></li>      
        <li [routerLinkActive]="['active']"><a [routerLink]="['/create']">Nuevo proyecto</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/projects']">Proyectos</a></li>
    </ul>    
</nav>

<section id="content">
    <router-outlet></router-outlet>
</section>

<footer>
    Portafolio 2020
</footer>